@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu'; }

* {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  background: linear-gradient(#67641c, #67641c);
  overflow-x: hidden; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  z-index: 10000;
  transition: .3s ease background-color; }

header .logo {
  color: #FAF8E6;
  font-size: large;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 25px; }

header ul {
  display: flex;
  justify-content: center;
  align-items: center; }

header ul li {
  list-style: none;
  margin-left: 20px; }

header ul li a {
  text-decoration: none;
  padding: 6px, 15px;
  color: whitesmoke;
  transition: ease-in-out 0.1s; }

header ul li a:hover,
header ul li a.active {
  background-color: #FAF8E6;
  color: #5a497a;
  border-radius: 20px;
  padding: 6px 12px; }

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #67641c, transparent);
  z-index: 1000; }

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; }

section img#plants {
  z-index: 11; }

section img#shapeFront {
  z-index: 10; }

section img#shapeBehind {
  z-index: 8; }

#text {
  position: absolute;
  right: -5px;
  color: whitesmoke;
  font-size: 7.5vw;
  font: 1.5rem;
  font-weight: 500;
  transform: translateY(-150px);
  z-index: 9;
  text-transform: uppercase;
  letter-spacing: 15px; }

#btn {
  text-decoration: none;
  display: inline-block;
  z-index: 12;
  padding: 8px 30px;
  border: solid 2px #FAF8E6;
  border-radius: 40px;
  color: whitesmoke;
  font-size: 1.5rem;
  transition: ease-in-out 0.5s; }

#btn:hover {
  background-color: #FAF8E6;
  color: #5a497a; }

.sec {
  position: relative;
  padding: 250px; }

.sec h2 {
  color: #FAF8E6;
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-align: center; }

.sec p {
  color: #FAF8E6;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center; }

.sec2 {
  position: relative;
  display: flex; }

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #8477c7; }

.contact .content {
  max-width: 800px;
  text-align: center; }

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #FAF8E6;
  margin-bottom: 14px; }

.contact .content p {
  font-weight: 300;
  color: #FAF8E6; }

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column; }

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex; }

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #FAF8E6;
  color: #736711;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  border: 2px solid #736711; }

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #FAF8E6;
  flex-direction: column;
  font-weight: 300; }

.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #180673; }

.contactForm {
  width: 40%;
  padding: 40px;
  background: #FAF8E6;
  border-radius: 30px;
  border: 2px solid #736711; }

.contactForm h2 {
  font-size: 30px;
  color: #180673;
  font-weight: 500; }

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px; }

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #736711;
  outline: none;
  resize: none; }

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 13px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #180673; }

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #8477c7;
  font-size: 12px;
  transform: translate(-20px); }

.contactForm .inputBox .input [type="submit"] {
  width: 80px;
  background-color: #FAF8E6;
  color: #180673;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 15px; }

.social {
  display: flex;
  color: #FAF8E6;
  margin-top: 70px; }

.social .twitter {
  margin-right: 8px;
  font-size: 20px; }

.social .facebook {
  margin-right: 8px;
  font-size: 20px; }

.social .instagram {
  margin-right: 8px;
  font-size: 20px; }

@media (max-width: 991px) {
  .contact {
    padding: 50px; }
  .container {
    flex-direction: column; }
  .container .contactInfo {
    margin-bottom: 40px; }
  .container .contactInfo,
  .contactForm {
    width: 100%; } }

.purchase {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 50px;
  font-size: larger;
  color: white; }

.conditions {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  height: auto;
  width: auto;
  line-height: 25px; }
  .conditions h2 {
    padding-bottom: 1%;
    padding-top: 1%; }

.terms {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 50px;
  font-size: larger;
  color: white; }

.delivery {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  height: auto;
  width: auto;
  line-height: 25px; }
  .delivery h2 {
    padding-bottom: 1%;
    padding-top: 1%; }

.centerText {
  margin-top: 200px;
  text-align: center; }

.addPageContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  .addPageContainer .flexContainer {
    width: 300px;
    display: flex;
    flex-direction: column; }
    .addPageContainer .flexContainer input, .addPageContainer .flexContainer button {
      border-radius: 5px;
      width: 300px;
      height: 30px;
      margin: 10px; }
    .addPageContainer .flexContainer textarea {
      border-radius: 5px;
      width: 300px;
      height: 100px;
      margin: 10px; }
