@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu'; }

* {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  background: linear-gradient(#5a497a);
  overflow-x: hidden; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  z-index: 10000;
  transition: .3s ease background-color; }

header .logo {
  color: #FAF8E6;
  font-size: large;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 25px; }

header ul {
  display: flex;
  justify-content: center;
  align-items: center; }

header ul li {
  list-style: none;
  margin-left: 20px; }

header ul li a {
  text-decoration: none;
  padding: 6px, 15px;
  color: whitesmoke;
  transition: ease-in-out 0.1s; }

header ul li a:hover,
header ul li a.active {
  background-color: #FAF8E6;
  color: #5a497a;
  border-radius: 20px;
  padding: 6px 12px; }

  .dropdown {
    position: relative;
    
  }
  
  .dropdown-menu {
    position: absolute;
    left: -20%;
    top: calc(100% + .25rem);
    background-color: #FAF8E6;
    color: #5a497a;
    padding: 2rem;
    width: 185px;
    line-height: 50px;
    border-radius: 20px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
    opacity: 0%;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms  ease-in-out;
  }
  
   .link {
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    padding: 0%;
    padding: 6px, 15px;
    color: whitesmoke;
    font-size: 1rem;
    transition: ease-in-out 0.1s; 
  }
  
  .dropdown-menu-text {
    color: black;
  }
  
  .dropdown-menu-text:hover,
  .dropdown-menu-text.active{
  color: #FAF8E6;
  background-color: #67641c;
  padding: auto 0%;} 
  
  
  .link:hover,
  link.active {
    background-color: #FAF8E6;
    color: #5a497a;
    padding: 6px 12px; 
    border-radius: 20px;
  }
  
  .dropdown > li .link:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #5a497a, transparent);
  z-index: 1000; }

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; }

section img#plants {
  z-index: 11; }

section img#shapeFront {
  z-index: 10; }

section img#shapeBehind {
  z-index: 8; }

#text {
  position: absolute;
  right: -5px;
  color: whitesmoke;
  font-size: 7.5vw;
  font: 1.5rem;
  font-weight: 500;
  transform: translateY(-150px);
  z-index: 9;
  text-transform: uppercase;
  letter-spacing: 15px; }

#btn {
  text-decoration: none;
  z-index: 12;
  padding: 8px 30px;
  border: solid 2px #FAF8E6;
  border-radius: 40px;
  color: whitesmoke;
  font-size: 1.5rem;
  transition: ease-in-out 0.5s; }

#btn:hover {
  background-color: #FAF8E6;
  color: #5a497a; }


.products {
  padding: 250px;
  background-image: url(./images/bestsellers_background.png);
  background-size: cover;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  z-index: 1;
}

.products-container {
  position: relative;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.products-container .card {
  width: 100%;
  background: #FAF8E6;
}

.products-container .card .imgJuv{
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
}

.products-container .card .imgJuv img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out
}

.products-container .card:hover .imgJuv img {
  transform: scale(1.5);
}


.sec {
  position: relative;
  padding: 25px; 
background: #5a497a;

}

.sec h2 {
  color: #FAF8E6;
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-align: center; 
  margin-top: -20px;
  
}

.sec p {
  display: flex;
  color: #FAF8E6;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center; 
  line-height: 1.6rem;
  align-items: center;
  justify-content: center;
}

.centerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#btn2 {
  text-decoration: none;
  border-style: none;
  border: white solid 2px;
  padding: 8px 30px;
  color: #FAF8E6;
  border-radius: 40px;
  font-size: 1.5rem;
  transition: ease-in-out 0.5s;

}

#btn2:hover {
  background-color: #FAF8E6;
  color: #5a497a; }











/* Ebbas project*/

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:  #826aae; 
 }

.contact .content {
  max-width: 800px;
  text-align: center; }

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #FAF8E6;
  margin-bottom: 14px; }

.contact .content p {
  font-weight: 300;
  color: #FAF8E6; }

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column; }

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex; }

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #FAF8E6;
  color: #736711;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  border: 2px solid #736711; }

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #FAF8E6;
  flex-direction: column;
  font-weight: 300; }

.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #180673; }

.contactForm {
  width: 40%;
  padding: 40px;
  background: #FAF8E6;
  border-radius: 30px;
  border: 2px solid #736711; }

.contactForm h2 {
  font-size: 30px;
  color: #180673;
  font-weight: 500; }

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px; }

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #736711;
  outline: none;
  resize: none; }

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 13px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #180673; }

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #8477c7;
  font-size: 12px;
  transform: translate(20px); }

.contactForm .inputBox .input [type="submit"] {
  width: 80px;
  background-color: #FAF8E6;
  color: #180673;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 15px; }

.social {
  display: flex;
  color: #FAF8E6;
  margin-top: 70px;
  }

.social .twitter {
  margin-right: 35px;
  font-size: 30px; }

.social .facebook {
  margin-right: 35px;
  font-size: 30px; }

.social .instagram {
  margin-right: 35px;
  font-size: 30px; }

@media (max-width: 991px) {
  .contact {
    padding: 50px; }
  .container {
    flex-direction: column; }
  .container .contactInfo {
    margin-bottom: 40px; }
  .container .contactInfo,
  .contactForm {
    width: 100%; } }
