@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  overflow-x: hidden; }

#header {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  background-color: #5a497a; }

#header .header {
  min-height: 8vh;
  background-color: rgba(100, 42, 142, 0.24);
  transition: .3s ease background-color;
  padding-top: 30px;
  padding-bottom: 30px; }

#header a {
  text-decoration: none; }

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px; }

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: #5a497a;
  width: 75vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: .5s ease left; }

#header .nav-list ul.active {
  left: 25%; }

#header .nav-list ul li a {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
  padding: 20px;
  display: block; }

#header .nav-list ul a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 10rem;
  letter-spacing: 50px;
  z-index: 20;
  transition: .3s ease letter-spacing; }

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial; }

#header .nav-list ul li:hover a {
  color: yellow; }

.brand a h1 {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 400;
  font-size: 2.5rem; }

#text {
  position: absolute;
  right: -5px;
  color: whitesmoke;
  font-size: 7.5vw;
  font: 1.5rem;
  font-weight: 500;
  transform: translateY(-150px);
  z-index: 9;
  text-transform: uppercase;
  letter-spacing: 15px;
  text-decoration: none; }

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #5a497a; }

.contact .content {
  max-width: 800px;
  text-align: center;
  margin-bottom: 30px; }

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #FAF8E6;
  margin-bottom: 14px; }

.contact .content p {
  font-weight: 300;
  font-size: 16px;
  color: #FAF8E6;
  line-height: 30px; }

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column; }

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex; }

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #FAF8E6;
  color: #736711;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  border: 2px solid #736711; }

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #FAF8E6;
  flex-direction: column;
  font-weight: 300; }

.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: whitesmoke; }

.contactForm {
  width: 40%;
  padding: 40px;
  background: #FAF8E6;
  border-radius: 30px;
  border: 2px solid #736711; }

.contactForm h2 {
  font-size: 30px;
  color: #180673;
  font-weight: 500; }

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px; }

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #736711;
  outline: none;
  resize: none; }

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 13px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #180673; }

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #8477c7;
  font-size: 12px;
  transform: translate(20px); }

.inputBoxBtn {
  width: 80px;
  background-color: #FAF8E6;
  color: #180673;
  border-style: none;
  text-decoration: none;
  border-radius: 40%;
  cursor: pointer;
  padding: 10px;
  font-size: 15px; }

.inputBoxBtn:hover {
  color: #FAF8E6; }

.social {
  display: flex;
  color: #FAF8E6;
  margin-top: 70px; }

.social .twitter {
  margin-right: 20px;
  font-size: 20px; }

.social .facebook {
  margin-right: 20px;
  font-size: 20px; }

.social .instagram {
  margin-right: 20px;
  font-size: 20px; }

.btn {
  text-decoration: none;
  display: inline-block;
  z-index: 12;
  padding: 8px 30px;
  border: solid 2px #FAF8E6;
  border-radius: 40px;
  color: whitesmoke;
  font-size: 1.5rem;
  transition: ease-in-out 0.5s; }

.btn:hover {
  background-color: #FAF8E6;
  color: #5a497a; }

#btn2 {
  text-decoration: none;
  display: inline-block;
  z-index: 12;
  padding: 8px 30px;
  border: solid 2px #FAF8E6;
  border-radius: 40px;
  color: whitesmoke;
  font-size: 1.5rem;
  transition: ease-in-out 0.5s; }

#btn2:hover {
  background-color: #FAF8E6;
  color: #5a497a; }

.inputBoxBtn input {
  width: auto;
  background-color: #FAF8E6;
  color: #180673;
  border-style: none;
  border: solid 2px;
  border-radius: 20%;
  padding: 20px;
  font-size: 1rem; }

.inputBoxBtn input:hover {
  color: #5a497a;
  background-color: whitesmoke; }

.section_omoss {
  margin-bottom: 100px;
  margin-top: 200px;
  width: 100%;
  background-color: white; }

.container_omoss {
  width: 80%;
  display: block;
  margin: auto; }

.content-section_omoss {
  float: none;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }

.title_omoss h1 {
  text-align: center; }

.title_omoss {
  text-transform: uppercase;
  font-size: 28px; }

.h3_omoss {
  margin-top: 20px;
  color: black;
  font-size: 18px;
  text-align: center; }

.parag_omoss {
  margin-top: 10px;
  font-family: 'Ubuntu';
  font-size: 16px;
  line-height: 1.6; }

.button_omoss {
  margin-top: 20px; }

.button_omoss a {
  width: 80px;
  text-align: center;
  background-color: #736711;
  padding: 12px 40px;
  text-decoration: none;
  color: #FAF8E6;
  font-size: 16px;
  letter-spacing: 1.5px;
  border-radius: 20px; }

.button_omoss a:hover {
  background-color: #FAF8E6;
  border: 2px solid #736711;
  color: black; }

@media screen and (max-width: 768px) {
  .container_omoss {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px; }
  .content-section_omoss {
    float: none;
    width: 100%;
    display: block;
    margin: auto; }
  .content-section_omoss .title_omoss {
    text-align: center;
    font-size: 19px; }
  .content-section_omoss .content_omoss .button_omoss {
    text-align: center; }
  .content-section_omoss .content_omoss .button_omoss a {
    padding: 9px 30px; } }

.section-fos {
  margin-bottom: 200px;
  margin-top: 200px;
  background-color: white;
  color: black;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 200px; }

.title-fos {
  font-size: 3rem;
  margin: 2rem 0rem; }

.fos {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #736711;
  cursor: pointer; }

.fraga {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.f1 .f2 .f3 {
  font-size: 2.6rem; }

.svar {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease; }

.svar p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.2rem; }

.fos.active .svar {
  max-height: 300px; }

.fos.active svg {
  transform: rotate(180deg); }

svg {
  transition: transform .5 ease-in; }

.centerText {
  margin-top: 200px;
  text-align: center; }

.addPageContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  .addPageContainer .flexContainer {
    width: 300px;
    display: flex;
    flex-direction: column; }
    .addPageContainer .flexContainer input, .addPageContainer .flexContainer button {
      border-radius: 5px;
      width: 300px;
      height: 30px;
      margin: 10px; }
    .addPageContainer .flexContainer textarea {
      border-radius: 5px;
      width: 300px;
      height: 100px;
      margin: 10px; }

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid whitesmoke;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px; }

#header .hamburger::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid whitesmoke;
  animation: hamburger_puls 1s ease infinite; }

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: whitesmoke;
  z-index: -1; }

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: whitesmoke;
  transition: .3 ease;
  transition-property: top, bottom; }

#header .hamburger .bar::after {
  top: 8px; }

#header .hamburger .bar::before {
  bottom: 8px; }

#header .hamburger.active .bar::before {
  bottom: 0; }

#header .hamburger.active .bar::after {
  top: 0; }

/* keyframes */
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.3); } }

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0; }
  100% {
    width: 0%;
    left: 100%; } }

@keyframes text_reveal {
  100% {
    color: white; } }

/* End keyframes */
@media only screen and (max-width: 1200px) {
  header .hamburger {
    display: none; }
  header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent; }
  header .nav-list ul li {
    display: inline-block; }
  header .nav-list ul li a {
    font-size: 1.3rem; }
  header .nav-list ul a::after {
    display: none; }
  .brand a h1 {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem; }
  .bgPearlbba #text {
    font-size: 3rem; }
  .contact {
    padding: 50px; }
  .container {
    flex-direction: column; }
  .container .contactInfo {
    margin-bottom: 40px; }
  .container .contactInfo,
  .contactForm {
    width: 100%; } }

.bgPearlbba {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.bgPearlbba::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #5a497a, transparent);
  z-index: 1000; }

.bgPearlbba img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; }

.bgPearlbba img#plants {
  z-index: 12; }

.bgPearlbba img#shapeFront {
  z-index: 11; }

.bgPearlbba img#shapeBehind {
  z-index: 10; }

#text {
  position: absolute;
  right: -5px;
  color: whitesmoke;
  font-size: 7.5vw;
  font: 1.5rem;
  font-weight: 500;
  transform: translateY(-150px);
  z-index: 9;
  text-transform: uppercase;
  letter-spacing: 15px; }

.dropdown {
  position: relative; }

.dropdownMenu {
  position: absolute;
  left: -50%;
  top: calc(100% + .25rem);
  background-color: #5a497a;
  width: 500px;
  line-height: 50px;
  opacity: 0%;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms  ease-in-out; }

.link {
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  padding: 0%;
  padding: 6px, 15px;
  color: whitesmoke;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 500;
  transition: ease-in-out 0.1s; }

a #dropdownText:hover,
#dropdownText.active {
  color: red; }

.link:hover,
link.active {
  color: yellow;
  padding-top: 5px;
  padding-bottom: 5px; }

.dropdown > li .link:focus + .dropdownMenu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; }

.terms {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 50px;
  font-size: larger;
  color: black; }

.delivery {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  height: auto;
  width: auto;
  line-height: 25px; }

.purchase {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 50px;
  font-size: larger;
  color: black; }

.conditions {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  height: auto;
  width: auto;
  line-height: 25px; }
  .conditions h2 {
    padding-bottom: 1%;
    padding-top: 1%; }

.textCenter {
  margin-top: 200px;
  margin-bottom: 50px;
  font-size: 3rem;
  text-align: center; }

#shopYta {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px; }

.productCard {
  display: flex;
  flex-direction: column;
  width: 247px;
  margin-bottom: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #5a497a;
  border-radius: 20px; }
  .productCard img {
    width: 247px;
    border-radius: 20px 20px 0 0; }
  .productCard .productTitle {
    text-align: center;
    margin-bottom: 5px;
    font-size: large;
    color: white; }
  .productCard .productArtNr {
    text-align: center;
    margin-bottom: 5px;
    color: white; }
  .productCard .productPrice {
    text-align: center;
    color: white; }
  .productCard .productSymbols {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px; }
    .productCard .productSymbols .wishListBtn, .productCard .productSymbols wishListFalse {
      color: yellow;
      font-size: 30px;
      background-color: transparent;
      border: none; }
    .productCard .productSymbols .wishListBtn, .productCard .productSymbols wishListTrue {
      color: white;
      font-size: 30px;
      background-color: transparent;
      border: none; }
    .productCard .productSymbols .basketListBtn, .productCard .productSymbols basketListFalse {
      color: yellow;
      font-size: 30px;
      background-color: transparent;
      border: none; }
    .productCard .productSymbols .basketListBtn, .productCard .productSymbols basketListTrue {
      color: white;
      font-size: 30px;
      background-color: transparent;
      border: none; }

.title-varukorg {
  margin-top: 170px;
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center; }

.section-shopcart {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.shopcart-container {
  width: 50vw;
  height: auto;
  padding-right: 2%;
  padding-left: 2%; }

.shopcart-list {
  min-height: 40vh;
  max-width: 650px;
  justify-content: space-around;
  margin-top: 30px; }

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid #8477C7;
  font-size: large;
  padding-bottom: 0.8%; }

.product-title {
  width: 45%;
  margin-left: 2%; }

.price {
  width: 15%;
  display: flex;
  align-items: center; }

.quantity {
  width: 30%;
  display: flex;
  align-items: center; }

.total {
  width: 10%;
  display: flex;
  align-items: center;
  margin-right: 6%; }

/*
.product {
    width: 45%;
    display: flex;
    align-items: center;
    padding: 10px 0;
}
    
.product ion-icon {
    cursor: pointer;
}
*/
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.products img {
  width: 75px; }

/*
.basketTotalContainer { 
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}
*/
.overview-box {
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.payment {
  font-size: large;
  margin-top: 30px;
  padding-bottom: 0.8%;
  border-bottom: 4px solid #8477C7; }

.classy {
  text-align: left;
  margin: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 150%; }

.slutsum {
  border-bottom: 2px solid #8477C7; }

.slutsumma {
  font-weight: 800; }

.send-orderBtn {
  border-radius: 20px;
  border: 4px solid whitesmoke;
  background-color: #BFAE30;
  font-family: 'Ubuntu';
  font-size: 16px;
  height: 60px;
  width: 120px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  color: #FAF8E6; }

.send-orderBtn:hover {
  background-color: whitesmoke;
  border: 2px solid #BFAE30;
  color: black; }

.pay-with {
  padding-top: 2%;
  font-size: small;
  padding-bottom: 3%;
  margin-top: 7%;
  font-weight: 600; }

.payment-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 2px; }

.klarna-logo {
  border: 2px solid #feb4c8;
  background-color: #feb4c8;
  border-radius: 10px;
  margin-right: 2%;
  margin-left: 2%;
  width: 75px; }

.VISA {
  border-radius: 10px;
  margin-right: 5px;
  width: 75px; }

.Mastercard {
  border-radius: 10px;
  margin-right: 5px;
  width: 75px; }

.Leverans-Btn {
  border-radius: 20px;
  border: 4px solid whitesmoke;
  background-color: #BFAE30;
  font-family: 'Ubuntu';
  font-size: 12px;
  height: 60px;
  width: 120px;
  margin: 0 auto;
  margin-top: 20px;
  display: block; }

.levbtn {
  text-decoration: none; }

.Leverans-Btn:hover {
  background-color: whitesmoke;
  border: 2px solid #BFAE30;
  color: black; }

.delivery-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px; }

.postnord-logo {
  border-radius: 10px;
  margin-right: 5px;
  width: 70px;
  height: 30px; }

.dhl-logo {
  border-radius: 10px;
  margin-right: 2%;
  margin-left: 2%;
  width: 50px;
  height: 50px; }

@media only screen and (max-width: 600px) {
  .section-shopcart {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-shopcart .shopcart-container {
      width: 90vw;
      height: 60vh; }
  .total {
    margin-right: 2%; }
  .overview-box {
    border: 2px solid salmon;
    justify-content: center;
    width: 90vw;
    height: 50vh;
    font-size: 22px; }
  .delivery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

#wishListYta {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
  min-height: 200px; }
