@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  background: linear-gradient(#67641c, #67641c);
  overflow-x: hidden; }

#header {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto; }

#header .header {
  min-height: 10vh;
  background-color: rgba(100, 42, 142, 0.24);
  transition: .3s ease background-color; }

#header a {
  text-decoration: none; }

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px; }

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: #bfae30;
  width: 75vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  transition: .5s ease left; }

#header .nav-list ul.active {
  left: 25%; }

#header .nav-list ul li a {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
  padding: 20px;
  display: block;
  z-index: 25;
  transition: ease-in-out 0.1s; }

#header .nav-list ul li:hover a {
  color: yellow;
  padding-top: 30px;
  padding-bottom: 30px; }

.brand a h1 {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 400;
  font-size: 2.5rem; }

#text {
  position: absolute;
  right: -5px;
  color: whitesmoke;
  font-size: 7.5vw;
  font: 1.5rem;
  font-weight: 500;
  transform: translateY(-150px);
  z-index: 7;
  text-transform: uppercase;
  letter-spacing: 15px;
  text-decoration: none; }

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #5a497a; }

.contact .content {
  max-width: 800px;
  text-align: center; }

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #FAF8E6;
  margin-bottom: 14px; }

.contact .content p {
  font-weight: 300;
  font-size: 16px;
  color: #FAF8E6;
  line-height: 30px; }

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column; }

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex; }

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #FAF8E6;
  color: #736711;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  border: 2px solid #736711; }

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #FAF8E6;
  flex-direction: column;
  font-weight: 300; }

.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: whitesmoke; }

.contactForm {
  width: 40%;
  padding: 40px;
  background: #FAF8E6;
  border-radius: 30px;
  border: 2px solid #736711; }

.contactForm h2 {
  font-size: 30px;
  color: #180673;
  font-weight: 500; }

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px; }

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #736711;
  outline: none;
  resize: none; }

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 13px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #180673; }

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #8477c7;
  font-size: 12px;
  transform: translate(20px); }

.contactForm .inputBox .input [type="submit"] {
  width: 80px;
  background-color: #FAF8E6;
  color: #180673;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 15px; }

.social {
  display: flex;
  color: #FAF8E6;
  margin-top: 70px; }

.social .twitter {
  margin-right: 20px;
  font-size: 20px; }

.social .facebook {
  margin-right: 20px;
  font-size: 20px; }

.social .instagram {
  margin-right: 20px;
  font-size: 20px; }

#btn {
  text-decoration: none;
  top: 0;
  left: 0;
  position: relative;
  padding: 8px 30px;
  border: 3px solid whitesmoke;
  border-radius: 40px;
  color: whitesmoke;
  font-weight: 400;
  font-size: 1.5rem;
  transition: ease-in-out 0.5s;
  z-index: 0; }

#btn:hover {
  background-color: #FAF8E6;
  color: #5a497a; }

#btn2 {
  text-decoration: none;
  display: inline-block;
  z-index: 12;
  padding: 8px 30px;
  border: solid 2px #FAF8E6;
  border-radius: 40px;
  color: whitesmoke;
  font-size: 1.5rem;
  transition: ease-in-out 0.5s; }

#btn2:hover {
  background-color: #FAF8E6;
  color: #5a497a; }

.centerText {
  margin-top: 200px;
  text-align: center; }

.addPageContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  .addPageContainer .flexContainer {
    width: 300px;
    display: flex;
    flex-direction: column; }
    .addPageContainer .flexContainer input, .addPageContainer .flexContainer button {
      border-radius: 5px;
      width: 300px;
      height: 30px;
      margin: 10px; }
    .addPageContainer .flexContainer textarea {
      border-radius: 5px;
      width: 300px;
      height: 100px;
      margin: 10px; }

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid whitesmoke;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px; }

#header .hamburger::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid whitesmoke;
  animation: hamburger_puls 1s ease infinite; }

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: whitesmoke;
  z-index: -1; }

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: whitesmoke;
  transition: .3 ease;
  transition-property: top, bottom; }

#header .hamburger .bar::after {
  top: 8px; }

#header .hamburger .bar::before {
  bottom: 8px; }

#header .hamburger.active .bar::before {
  bottom: 0; }

#header .hamburger.active .bar::after {
  top: 0; }

/* keyframes */
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.3); } }

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0; }
  100% {
    width: 0%;
    left: 100%; } }

@keyframes text_reveal {
  100% {
    color: white; } }

/* End keyframes */
@media only screen and (max-width: 1200px) {
  header .hamburger {
    display: none; }
  header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent; }
  header .nav-list ul li {
    display: inline-block; }
  header .nav-list ul li a {
    font-size: 1.3rem; }
  header .nav-list ul a::after {
    display: none; }
  .brand a h1 {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem; }
  .bgPearlbba #text {
    font-size: 3rem; }
  .contact {
    padding: 50px; }
  .container {
    flex-direction: column; }
  .container .contactInfo {
    margin-bottom: 40px; }
  .container .contactInfo,
  .contactForm {
    width: 100%; } }

.bgPearlbba {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.bgPearlbba::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #5a497a, transparent);
  z-index: 1000; }

.bgPearlbba img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; }

.bgPearlbba img#plants {
  z-index: 12; }

.bgPearlbba img#shapeFront {
  z-index: 11; }

.bgPearlbba img#shapeBehind {
  z-index: 10; }

#text {
  position: absolute;
  right: -5px;
  color: whitesmoke;
  font-size: 7.5vw;
  font: 1.5rem;
  font-weight: 500;
  transform: translateY(-150px);
  z-index: 9;
  text-transform: uppercase;
  letter-spacing: 15px; }

.dropdown {
  position: relative; }

.dropdownMenu {
  position: absolute;
  left: -50%;
  top: calc(100% + .25rem);
  background-color: #bfae30;
  width: 500px;
  line-height: 50px;
  opacity: 0.1%;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms  ease-in-out; }

.link {
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  padding: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: whitesmoke;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 500;
  transition: ease-in-out 0.1s; }

.dropdownMenu a {
  color: whitesmoke !important; }

.link:hover {
  color: yellow;
  padding-top: 25px;
  padding-bottom: 25px; }

.dropdownText1:hover {
  color: yellow !important; }

.dropdownText2:hover {
  color: yellow !important; }

.dropdownText3:hover {
  color: yellow !important; }

.dropdown > li .link:focus + .dropdownMenu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; }
