.btn{
    text-decoration: none;
    display: inline-block;
    z-index: 12;
    padding: 8px 30px;
    border: solid 2px #FAF8E6;
    border-radius: 40px;
    color: whitesmoke;
    font-size: 1.5rem;
    transition: ease-in-out 0.5s;
}

.btn:hover {
    background-color: #FAF8E6;
    color:#5a497a;
}

#btn2{
    text-decoration: none;
    display: inline-block;
    z-index: 12;
    padding: 8px 30px;
    border: solid 2px #FAF8E6;
    border-radius: 40px;
    color: whitesmoke;
    font-size: 1.5rem;
    transition: ease-in-out 0.5s;
}

#btn2:hover {
    background-color: #FAF8E6;
    color:#5a497a;
}
.inputBoxBtn input{
    width: auto;
    background-color: #FAF8E6;
    color: #180673;
    border-style: none;
    border: solid 2px;
    border-radius: 20%;
    padding: 20px;
    font-size: 1rem;
}
.inputBoxBtn input:hover{
    color: #5a497a;
    background-color: whitesmoke;
}

.wishListBtn, wishListFalse {
    color: yellow;
    font-size: 30px;
    background-color: transparent;
    border:none;

}

.wishListBtn, wishListTrue {
    color: white;
    font-size: 30px;
    background-color: transparent;
    border: none;

}