#btn2{
    text-decoration: none;
    display: inline-block;
    z-index: 12;
    padding: 8px 30px;
    border: solid 2px #FAF8E6;
    border-radius: 40px;
    color: whitesmoke;
    font-size: 1.5rem;
    transition: ease-in-out 0.5s;
}

#btn2:hover {
    background-color: #FAF8E6;
    color:#5a497a;
}