
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #8477c7 ;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color:#FAF8E6;
    margin-bottom: 14px;
}

.contact .content p {
    font-weight: 300;
    color: #FAF8E6;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #FAF8E6;
    color: #736711;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    border: 2px solid #736711;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #FAF8E6;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #180673;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #FAF8E6;
    border-radius: 30px;
    border: 2px solid #736711;
}
.contactForm h2{
    font-size: 30px;
    color: #180673;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #736711;
    outline: none;
    resize: none;
}
.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 13px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #180673;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #8477c7;
    font-size: 12px;
    transform: translate(-20px);
}
.contactForm .inputBox .input [type="submit"]{
    width: 80px;
    background-color: #FAF8E6;
    color: #180673;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
}
.social{
    display: flex;
    color: #FAF8E6;
    margin-top: 70px;
}
.social .twitter{
    margin-right: 8px;
    font-size: 20px;
}
.social .facebook{
    margin-right: 8px;
    font-size: 20px;
}
.social .instagram{
    margin-right: 8px;
    font-size: 20px;
    
}

@media (max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm
    {
        width: 100%;
    }
}
