// Global inställningar för hemsidan
*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

// För body
body {
    min-height: 100vh;
    overflow-x: hidden;
}