// Start Hamburger Menu

#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}
#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    animation: hamburger_puls 1s ease infinite;

}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: whitesmoke;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: whitesmoke;
    transition: .3 ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}

#header .hamburger.active .bar::after{
    top: 0;
}
 /* Start keyframes  */
 @keyframes hamburger_puls {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
    
        opacity: 0;
        transform: scale(1.3);
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}    
/* End keyframes */

// End Hamburger Menu
