.terms {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 50px;
    font-size: larger;
    color: white;
}

.delivery {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    height: auto;
    width: auto;
    line-height: 25px;
    h2{
        padding-bottom: 1%;
        padding-top: 1%;
    }
}