// Start Mobile size 

@media only screen and (max-width: 1200px) {

    // Start hamburger menyn

    header .hamburger{
        display: none;
    }

    // End hamburger menyn

    // Start header nav 

    header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    header .nav-list ul li{
        display: inline-block;
    }
    header .nav-list ul li a{
        font-size: 1.3rem;
    }
    header .nav-list ul a::after {
        display: none;
    }
    .brand a h1 {
        color: whitesmoke;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.5rem;
    }

    // Start header nav 

    // Start homepage (startsida) 

    .bgPearlbba #text {
        font-size: 3rem;
    }
    // End homepage (startsida) 

    // Start contact (footer) 

    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm
    {
        width: 100%;
    }

    // End contact (footer) 

    // Start rublik 

    .sec .title {
        font-size: 1.5rem;  
    }
    
    .sec .decription {
        line-height: 35px;
        font-size: 16px;
    }
  
    // End rublik  

}

//// Start Mobile size 



