.sec {
    position: relative;
    min-height: auto;
    padding: 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #bfae30 ;
}

.sec h2 {
    display: flex;  
    text-align: center;
    color: whitesmoke;
    margin: 15px;
    font-size: 2.5rem;  
}

.sec p {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
    color: whitesmoke;
    line-height: 35px;
    font-size: 20px;
}