.textCenter {
    margin-top: 200px;
    margin-bottom: 50px;
    font-size: 3rem;
    text-align: center;
}

// Varje enskild korrigeras med hjälp av flex
// och beroende på skärmstorlek så lägger dom sig på rad eller höjd.
.productList {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

// Inställningar för produktkorten som skrivs ut
.productCard {
    display: flex;
    flex-direction: column;
    width: 247px;
    margin-bottom: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #5a497a;
    border-radius: 20px;


    img {
        width: 247px;
        border-radius: 20px 20px 0 0;
    }

    .productTitle {
        text-align: center;
        margin-bottom: 5px;
        font-size: large;
        color: white;
    }
    .productArtNr {
        text-align: center;
        margin-bottom: 5px;
        color: white;
    }
    .productPrice{
        text-align: center;
        color: white;
    }

    .productSymbols {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
    
        .wishListBtn, wishListFalse {
            color: yellow;
            font-size: 30px;
            background-color: transparent;
            border:none;
        
        }
        
        .wishListBtn, wishListTrue {
            color: white;
            font-size: 30px;
            background-color: transparent;
            border: none;
        
        }
        
        .basketListBtn, basketListFalse {
            color: yellow;
            font-size: 30px;
            background-color: transparent;
            border:none;
        }
        
        .basketListBtn, basketListTrue {
            color: white;
            font-size: 30px;
            background-color: transparent;
            border: none;
        }
    }
    

}