// Start import from  Unsplash js and  effect by SCSS

.parent {
    display: flex;
    background-image: url(/images/bestseller01.jpg);
    background-size: 50%;
    position: relative;
    z-index: 20;
    padding: 0;
    margin: 0;

}

.parent ul{
    list-style: none;
}

.grid {
display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(3, 50vw);
  grid-auto-rows: 30vw;
  grid-auto-flow:dense;
  z-index: 5;
}

.grid__item {
object-fit: cover;
width: 100%;
height: 100%;
}

// End import from Unsplash js and effect by SCSS

