/* Sidans titel, "Varukorg" placeras centrerat längst upp på sidan. */
.title-varukorg{
margin-top: 170px;
font-size: 3rem;
margin-bottom: 30px;
text-align: center;
}

/* Hela main */
.section-shopcart{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* För att kunna se de olika produkterna som är tillagda i varukorgen, pris, antal och slutsumma för denna produkt */
.shopcart-container{
    width: 50vw;
    height: auto; 
    padding-right: 2%;
    padding-left: 2%;
}

.shopcart-list{ 
    justify-content: space-around;
    margin-top: 30px;
}

/* Vi har valt att visa produkten, dess pris, antal av varan och totalen i en rad. */
.product-header {
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid #8477C7;
    font-size: large;
    padding-bottom: 0.8%;
}

.product-title {
    width: 45%;
    margin-left: 2%;
}

.price {
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    display: flex;
    align-items: center;
    margin-right: 6%;
}
/*
.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}
*/
/* I betalningsöversikten ser man kostnaden av alla varor man lagt i vaukorgen plus frakt och därefter slutsumman. */
.overview-box{
    width: 30%;
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.payment{
    font-size: large;
    margin-top: 41px;
    padding-left: 2%;
    padding-right: 4%;
    padding-bottom:1%;
}

.pay{
    border-bottom: 4px solid #8477C7;
}

.classy{
    text-align: left;
    margin: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 150%;
}

.slutsum{
    border-bottom: 2px solid #8477C7;
}

.slutsumma{
    font-weight: 800;
}

.send-orderBtn{
    border-radius: 20px;
    border: 4px solid whitesmoke;
    background-color:#BFAE30 ;
    font-family: 'Ubuntu';
    font-size: 16px;
    height:60px; 
    width:120px; 
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    color: #FAF8E6;
}

.send-orderBtn:hover{
    background-color:whitesmoke;
    border: 2px solid #BFAE30;
    color: black;
}

.pay-with{
    padding-top: 2%;
    font-size: small;
    padding-bottom: 3%;
    margin-top: 7%;
    font-weight: 600;
}

/* De olika betalningasalternativen vi erbjuder */
.payment-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 2px;
}

.klarna-logo{
    border: 2px solid #feb4c8;
    background-color: #feb4c8;
    border-radius: 10px;
    margin-right: 2%;
    margin-left:2%;
    width: 50px;
} 

.VISA {
    border-radius: 10px;
    margin-right: 5px;
    width: 50px;
}

.Mastercard{
    border-radius: 10px;
    margin-right: 5px;
    width: 50px;
}

/* Här har vi gjort en knapp för att lättare kunna läsa om våra leveransvillkor innan man ska betala */
.Leverans-Btn{
    border-radius: 20px;
    border: 4px solid whitesmoke;
    background-color:#BFAE30 ;
    font-family: 'Ubuntu';
    font-size: 12px;
    height:60px; 
    width:120px; 
    margin: 0 auto;
    margin-top: 20px;
    display: block;

    .levbtn {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
}

.Leverans-Btn:hover{
    background-color:whitesmoke;
    border: 2px solid #BFAE30;
    color: black;
}

/* Bilder/loggan på våra leverantörer som finns att välja mellan*/
.delivery-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.postnord-logo{
    border-radius: 10px;
    margin-right: 5px;
    width: 70px;
    height: 30px;
}

.dhl-logo{
    border-radius: 10px;
    margin-right: 2%;
    margin-left:2%;
    width: 50px;
    height: 50px;
}

 
@media only screen and (max-width: 1000px){
    .section-shopcart{
        flex-direction: column; 
        display: flex;
        justify-content: center;
        align-items: center;
        .shopcart-container{
            width: 90vw;
            height: 60vh; 
        }
    }
    .total{
        margin-right: 2%;
    }

    .overview-box{
        justify-content: center;
        width: 90vw;
        font-size: 22px;
    }
    .classy{
        padding-left: 0%;
    }

    .delivery-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
