// Varje enskild korrigeras med hjälp av flex
// och beroende på skärmstorlek så lägger dom sig på rad eller höjd.

// Resterande inställningar för varje unikt produktkort hämtas från shopsida.scss
#wishListYta {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
    min-height: 200px;
}